* {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

section {
  display: inline-block;
}

div {
  
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  min-width: 170px;
  font-weight: bold;
}