section.selected-values {
  margin-top: 15px;
  border: 1px solid #b8b8b8;
  min-height: 68px;
  background-color: #149dd9;
  color: white;
}

div.subtitle {
  padding-bottom: 10px;
  font-weight: normal;
}


div.no-values {
  color: black;
  background-color: white;
  height: 68px;
  line-height: 68px;
  padding: 0;
  min-width: 220px;
}