form {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: black;
  border: 1px solid #d8d8d8;
  border-bottom: none;
  width: 300px;
  margin-top: 10px;
}


label {
  border-bottom: 1px solid #d8d8d8;
  height: 68px;
  line-height: 68px;
  display: inline-block;
}

input:checked + label  {
  background-color: #149dd9;
  color: white;
}

input[type="checkbox"] {
  display: none;
}