form {
  place-self: center;
  display: flex;
  flex-direction: column;
}

label {
  align-self: center;
}

input:checked + label {
  background-color: blue;
}

input[type="checkbox"] {
  display: none;
}